{% extends 'Accounts/extender.html' %}
{% block content %} 
	<h1>Join Us Today!</h1> 
	<form action="/registerForm/" method="POST">
		{% csrf_token %}
		<input type="text" name="first_name" placeholder="FirstName"><br>
		<input type="text" name="last_name" placeholder="LastName"><br>
		<input type="text" name="username" placeholder="Username"><br>
		<input type="email" name="email" placeholder="Enter your email"><br>
		<input type="password" name="password1" placeholder="Enter your password"><br>
		<input type="password" name="password2" placeholder="Enter your password for conformation"><br>
		<input type="submit" name="">
	</form>
{% endblock content %} 